* {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
}

#energy2_1 {
    background-color: rgb(99, 99, 255);
}

#energy2_2 {
    background-color: rgb(99, 99, 255);
}