
* {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
}

.error {
    width: 100vw;
    height: 50vh;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    padding-top: 25vh;
    font-size: 64px;
    color: white;
}

@media (max-width: 768px) {

    .error {
        height: 300px;
        padding-top: 300px;
        font-size: 32px;
    }

}